<div class="card my-3">
  <figure class="bg-white text-center">
    <%= image_tag("#{correct ? "correct" : "wrong"}.svg", height: 400, class: "object-fit-contain p-4") %>
  </figure>
  <div class="card-body p-4">
    <div class="row">
      <% JSON.parse(question.choices).each_with_index do |choice, index| %>
        <div class="col-md-6">
          <%# <%= button_tag choice, name: :answer, class: "btn btn-lg btn-#{selected_answer_theme(choice, selected_answer, question.correct_answer)} mb-4 w-100" %>
          <%= radio_button_tag :answer, choice, false, id: "choice_#{choice.parameterize.underscore}", class: "btn-check" %>
          <%= label_tag "choice_#{choice.parameterize.underscore}", "#{%w[A C B D][index]}. #{choice}", class: "btn btn-lg btn-#{selected_answer_theme(choice, selected_answer, question.correct_answer)} mb-4 w-100" %>
        </div>
      <% end %>
    </div>
    <div class="d-block text-center">
      <%= link_to "Next Question", game_sessions_path(category: question.category), class: "btn btn-primary btn-lg mt-4 px-5 mx-auto" %>
    </div>
  </div>
</div>
