<div class="card my-3">
  <figure class="bg-white text-center">
    <%= image_tag("question.svg", height: 400, class: "object-fit-contain p-4") %>
  </figure>
  <div class="card-body p-4">
    <%= form_with url: game_sessions_check_answer_path, method: :post, remote: true, data: { controller: "form" } do %>
      <%= hidden_field_tag :question_id, @question.id %>
      <div class="row">
        <% JSON.parse(question.choices).each_with_index do |choice, index| %>
          <div class="col-md-6">
            <%# <%= submit_tag choice, name: :answer, class: "btn btn-lg btn-info mb-4 w-100" %>
            <%= radio_button_tag :answer, choice, false, id: "choice_#{choice.parameterize.underscore}", class: "btn-check", data: { action: "change->form#enableSubmit", form_target: "radioButton"} %>
            <%= label_tag "choice_#{choice.parameterize.underscore}", "#{%w[A C B D][index]}. #{choice}", class: "btn btn-lg btn-info mb-4 w-100" %>
          </div>
        <% end %>
      </div>
      <%= submit_tag "Check Answer", class: "btn btn-primary btn-lg mt-4 px-5 mx-auto d-block", data: { form_target: "submitButton" }, disabled: true %>
    <% end %>
  </div>
</div>
